body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffb88c, #ea5753);
  font-family: "Poppins", sans-serif;
}

/* CALCULATOR BODY */
.calculator {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 32px;
  padding: 30px;
  width: 330px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* SCREEN */
.screen input {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);

  border: none;
  border-radius: 20px;

  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-align: right;

  padding: 20px;
  box-sizing: border-box;

  outline: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}


/* GRID */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 14px;
}

/* BUTTONS */
.btn {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: none;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

/* COLORS */
.gray {
  background: #bfbfbf;
  color: black;
}

.dark {
  background: #333;
  color: white;
}

.orange {
  background: #ff9f0a;
  color: white;
}

/* WIDE ZERO BUTTON */
.zero {
  grid-column: span 2;
  width: 100%;
  border-radius: 40px;
}

/* HOVER EFFECT */
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 14px rgba(0,0,0,0.3);
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  color: #fff;
  background: rgba(0,0,0,0.08); 
  font-family: "Poppins", sans-serif;
}
